clyent==0.3.4
dropbox==2.2.0
fake-factory==0.5.0
Flask==0.10.1
Flask-Bootstrap==3.3.2.1
Flask-Bower==1.1.1
Flask-Moment==0.4.0
flask-mongoengine==0.7.1
Flask-Script==2.0.5
Flask-WTF==0.11
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mongoengine==0.9.0
netCDF4==1.1.6
numpy==1.9.2
pandas==0.16.0
pyandoc==0.0.1
pymongo==3.0.1
python-dateutil==2.4.2
pytz==2015.2
PyYAML==3.11
requests==2.6.2
six==1.9.0
urllib3==1.10.3
waitress==0.8.9
Werkzeug==0.10.4
WTForms==2.0.2
xray==0.4.1
