{% extends "base.html" %}

{% block title %} Mpala Tower Metadata and Download{% endblock %}

{% block page_content %}

<div class="jumbotron">
  <h1>Hello</h1>
  <h2>Welcome to the Mpala Tower Metadata and Data Download Page.</h2>
  <p>Our most recent metadata is from {{ moment(metadata.date).format('dddd, MMMM Do YYYY') }}, {{ moment(metadata.date).fromNow(refresh=True) }}</p>
</div>
{% for file in metadata.files %}
<div class="file">
  <h2>  {{ file.filename }} </h2>
    <div class="variables">
    <h3>File Variables</h3>
        <ul>
        {% for variable in file.variables %}
        <div class="variable">
            <li> <strong>{{ variable.var }}</strong>
            {% if variable.flag is defined %}
                ({{ variable.flag}})
            {% endif %}
            </li>
            {% if variable.count is defined %}
            {% set pct = ((variable.count|float/(60*60*24/file.frequency))*100)|int %}
            <span>Fraction of Available Data:</span>
            <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="{{ pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{pct}}%">{{ pct }}
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}

<h4>All metadata</h4>
  {{ metadata }}

{% endblock %}
