{% extends "index.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block title %} Mpala Tower Metadata
{% endblock %}

{% block page_content %}

<div class="jumbotron">
  <h2>Metadata from {{ moment(metadata.date).format('dddd, MMMM Do YYYY') }}</h2>
  {% if metadata.created %}
    <h4>Last built on {{ moment(metadata.created).format('dddd, MMMM Do YYYY') }}</h4>
  {% endif %}
</div>

<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist" id="datafiletabs">
    {% for file in metadata.files %}
      <li role="presentation" class="inactive"><a href="#{{file.datafile}}" aria-controls="home" role="tab" data-toggle="tab">{{file.datafile|title}}</a>
      </li>
    {% endfor %} 
  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content" id="datafiletabcontent">
  {% for file in metadata.files %}
    <div role="tabpanel" class="tab-pane inactive" id="{{file.datafile}}">
      {% include 'variables_tiled.html' %}
    </div>
  {% endfor %}
</div>

{% endblock %}
