{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-progressbar-3.2.0.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('bower.static', filename='bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <script src="/static/js/main.js"></script>
{% endblock %}

{% block title %} Mpala Tower Metadata and Download{% endblock %}

{% block page_content %}

<div class="jumbotron">
  <h1>Hello</h1>
  <h2>Welcome to the Mpala Tower Metadata and Data Download Page.</h2>
  <p>Our most recent metadata is from {{ moment(metadata.date).format('dddd, MMMM Do YYYY') }}, {{ moment(metadata.date).fromNow(refresh=True) }}</p>
</div>

<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="datafiletabs">
    {% for file in metadata.files %}
      <li role="presentation" class="inactive"><a href="#{{file.datafile}}" aria-controls="home" role="tab" data-toggle="tab">{{file.datafile}}</a>
      </li>
    {% endfor %} 
  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  {% for file in metadata.files %}
    <div role="tabpanel" class="tab-pane active" id="{{file.datafile}}">
      {% include 'variables_tiled.html' %}
    </div>
  {% endfor %}
</div>

{% endblock %}
