<div class="container">
{% for variable in file.variables %}
    {%if loop.index0%2 == 0 %}
        {%if loop.index0==0 %}
           <div class="row">
        {% else %}
            </div><div class="row">
        {% endif %}
    {% endif %}
    <div class="col-sm-6">    
        <span>
            <h4>{{ variable.name|replace("_"," ")|title }}
                <small>({{ variable.units }})</small>
                <small><span class="badge">
                        {{ variable.count }}
                </span></small>
                             
            </h4>
        </span>
    </div>
    {%if loop.last == True %}
        </div>
    {% endif %}
{% endfor %}
</div>

