<div class="container">
<br>
{% for variable in file.variables %}
    {%if loop.index0%4 == 0 %}
        {%if loop.index0==0 %}
           <div class="row">
        {% else %}
            </div><div class="row">
        {% endif %}
    {% endif %}
    <div class="col-sm-6 col-md-6">    
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">{{ variable.name|replace("_"," ")|title }}
                    ({{ variable.units|replace("Deg ","&#176;")|replace("degC","&#176;C")|replace("meter^2","m<sup>2</sup>")|replace("m^3","m<sup>3</sup>")|replace("m^2","m<sup>2</sup>")|safe }})
                    &nbsp;<span class="badge">
                            {{ variable.count }}
                    </span>
                                 
                </h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>min</th>
                        <th>25th</th>
                        <th>avg</th>
                        <th>75th</th>
                        <th>max</th>
                    </tr>
                    <tr>
                        <td>{{ sig_fig(variable.min_val,3) }}</td>
                        <td>{{ sig_fig(variable.p25th,3) }}</td>
                        <td>{{ sig_fig(variable.avg_val,3) }}</td>
                        <td>{{ sig_fig(variable.p75th,3) }}</td>
                        <td>{{ sig_fig(variable.max_val,3) }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {%if loop.last == True %}
        </div>
    {% endif %}
{% endfor %}
</div>

